.fade_in {
  animation-duration: 5s;
    animation-name: fadeIn;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(.5, .5);
    }
    to {
        opacity: 1;
        transform: scale(1, 1);
    }
}

h1, h2, h3, h4 {
  font-family: fantasy;
  text-align: center;
  color: white;
  size; large
}

/*.question_2 {
  display: none;
}*/

.set_background {
  position:absolute;
    top:0; right:0;
    bottom:0; left:0;
  background-repeat: no-repeat;
  background-size: cover;
}

.content {
  display: none;
  font-size: 40px;
  text-align: center;
  background-color: black;
  opacity: .8;
  padding: 5px;
  border: groove;
  border-radius: 5px;
  width: inherit;
}

#name {
  position:relative;;
  left:0;
  right:0;
  top:50px;
  margin-left:auto;
  margin-right:auto;
  text-align: center;
  width: 200px;
  background-color: black;
}

#welcome_screen {
  display: none;
  background-image: url("../img/dove_tail.jpg");
}

#intro {
  display: none;
  background-image: url("../img/plain_landscape.jpg");
  padding-top: 5%;
}

#intro h3 {
  display: none;
}

#welcome_user {
  display: none;
}

#base_question {
  display: none;
  background-image: url("../img/train.jpg");
  padding-top: 20%;
}

#base_warm {
  display: none;
  background-image: url("../img/sun_clouds.jpg");
  padding-top: 20%;
}

#base_warm_ocean {
  display: none;
  background-image: url("../img/ocean.jpeg");
}

#base_warm_ocean_beach {
  display: none;
  background-image: url("../img/hawaii_beach.jpg");
}

#base_warm_ocean_explore {
  display: none;
  background-image: url("../img/barrier_reef.jpg");
}

#base_warm_no-ocean {
  display: none;
  background-image: url("../img/autumn_forest.jpg");
  padding-top: 20%;
}

#base_warm_no-ocean_landscape {
  display: none;
  background-image: url("../img/alps.jpg");
}

#base_warm_no-ocean_culture {
  display: none;
  background-image: url("../img/barcelona.jpg");
}

#base_cold {
  display: none;
  background-image: url("../img/dim_tree.jpg");
  padding-top: 25%;
}

#base_cold_mountain {
  display: none;
  background-image: url("../img/mountain_peak.jpg");
}

#base_cold_mountain_advanced {
  display: none;
  background-image: url("../img/K2.jpg");
}

#base_cold_mountain_novice {
  display: none;
  background-image: url("../img/aspen.jpg");
}

#base_cold_no-mountain {
  display: none;
  background-image: url("../img/walkway.jpg");
  padding-top: 10%;
}

#base_cold_no-mountain_whale {
  display: none;
  background-image: url("../img/whale.jpg");
}

#base_cold_no-mountain_springs {
  display: none;
  background-image: url("../img/lagoon_iceland.jpg");
}
