#intro .fade_in {
  animation-duration: 5s;
    animation-name: fadeIn;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(.5, .5);
    }
    to {
        opacity: 1;
        transform: scale(1, 1);
    }
}


h1, h2, h3, h4 {
  font-family: fantasy;
  text-align: center;
  color: white;
}


#welcome_screen {
  position:absolute;
    top:0; right:0;
    bottom:0; left:0;
  background-image: url("../img/dove_tail.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

#intro {
  display: none;
  position:absolute;
    top:0; right:0;
    bottom:0; left:0;
  background-image: url("../img/plain_landscape.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  padding-top: 5%;
}

#contact_information {
  display: none;
}

#questions {
  display: none;
}
#base_question {
  display: none;
  position:absolute;
    top:0; right:0;
    bottom:0; left:0;
  background-image: url("../img/straight_path.jpg");
  background-repeat:no-repeat;
  background-size: cover;
  padding-top: 25%;



}

#base_warm {
  display: none;
}

#base_warm_ocean {
  display: none;
}

#base_warm_ocean_beach {
  display: none;
}

#base_warm_ocean_explore {
  display: none;
}

#base_warm_no-ocean {
  display: none;
}

#base_warm_no-ocean_landscape {
  display: none;
}

#base_warm_no-ocean_culture {
  display: none;
}

#base_cold {
  display: none;
}

#base_cold_mountain {
  display: none;
}

#base_cold_mountain_advanced {
  display: none;
}

#base_cold_mountain_novice {
  display: none;
}

#base_cold_no-mountain {
  display: none;
}

#base_cold_no-mountain_whale {
  display: none;
}

#base_cold_no-mountain_springs {
  display: none;
}
